#/
# @license BSD-3-Clause
#
# Copyright (c) 2019 Project Jupyter Contributors.
# Distributed under the terms of the 3-Clause BSD License.
#/

*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
package-lock.json
.vscode
.tsbuildinfo
tsconfig.tsbuildinfo
comments.json
*.tgz
yarn.lock
package-lock.json
