.headerCheckboxLabelEnabled {
  display: flex;
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 4px;
  padding-left: 4px;
  font-size: 13px;
  text-align: right;
  margin-bottom: 0px;
  height: 28px;
  min-width: 50px;
  flex-shrink: 1;
}

.headerCheckboxLabelDisabled {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 4px;
  padding-left: 4px;
  font-size: 13px;
  color: #e0e0e0;
  text-align: right;
  margin-bottom: 0px;
  height: 28px;
}

.headerCheckbox {
  align-self: center;
  min-width: 18px;
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdownItem.jp-mod-selected {
  background: var(--jp-brand-color1);
  color: white;
  text-decoration-line: none;
}

.dropdownItem:hover:not(.jp-mod-selected) {
  background: var(--jp-layout-color2);
  color: black;
  text-decoration-line: none;
}

.commentFooterLeftButton {
  background: #e0e0e0;
  color: black;
  border-radius: 2px;
  box-shadow: none;
  border: none;
  outline: 0px;
  margin-left: 0px;
  margin-right: 4px;
}

.commentFooterLeftButton:active {
  background-color: #bdbdbd;
  outline: 0px;
}

.commentFooterLeftButton:hover {
  background-color: #bdbdbd;
  outline: 0px;
}

.commentFooterLeftButton:focus {
  outline: 0px;
}

.commentFooterRightButton {
  background: #e0e0e0;
  color: black;
  border-radius: 2px;
  border: none;
  box-shadow: none;
  outline: 0px;
  margin-left: 4px;
  margin-right: -5px;
}

.commentFooterRightButton:active {
  background-color: #bdbdbd;
  outline: 0px;
}

.commentFooterRightButton:hover {
  background-color: #bdbdbd;
  outline: 0px;
}

.commentFooterRightButton:focus {
  outline: 0px;
}

.commentCommentButton {
  background: white;
  color: #2196f3;
  outline: 0px;
  font-size: var(--jp-content-font-size1);
  font-family: var(--jp-content-font-family);
  line-height: var(--jp-content-line-height);
}

.commentCommentButton:disabled {
  background: white;
  color: #e0e0e0;
  outline: 0px;
}

.commentCommentButton:disabled:hover {
  background: white;
  color: #e0e0e0;
  outline: 0px;
}

.commentCommentButton:hover {
  background: #e0e0e0;
  outline: 0px;
}

.commentCommentButton:active {
  background: #bdbdbd;
  outline: 0px;
}

.commentReopenButton {
  background: #e6e6e6;
  color: #2196f3;
  outline: 0px;
}

.commentReopenButton:hover {
  background: #e0e0e0;
  outline: 0px;
}

.commentResolveButton {
  background: white;
  color: #2196f3;
  outline: 0px;
}

.commentResolveButton:hover {
  background: #e0e0e0;
  outline: 0px;
}

.commentCancelButton {
  background: white;
  color: #e57373;
  outline: 0px;
  font-size: var(--jp-content-font-size1);
  font-family: var(--jp-content-font-family);
  line-height: var(--jp-content-line-height);
}

.commentCancelButton:hover {
  background: #e0e0e0;
  outline: 0px;
}

.commentCancelButton:active {
  background: #bdbdbd;
  outline: 0px;
}

.headerOptionsCard {
  display: flex;
  flex-direction: column;
  padding: 1px;
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.headerCard {
  display: flex;
  flex-direction: column;
  padding: 1px;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.threadCard {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: 1px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.threadCardDisabled {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: 1px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.threadCard:hover {
  box-shadow: var(--jp-elevation-z6);
}

.newThreadCard {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 2px;
  padding: 1px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.newThreadCard:hover {
  box-shadow: var(--jp-elevation-z6);
}

.newThreadLabel {
  display: flex;
  flex-grow: 2;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
  text-overflow: ellipsis;
  margin-bottom: 0px;
  margin-left: 5px;
}

.newThreadButton {
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 5px;
}

.textFieldExpanded {
  display: flex;
  max-height: 100%;
  max-width: 350px;
  font-size: 0.8em;
  line-height: normal;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.textFieldNotExpanded {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 350px;
  max-height: 30px;

  font-size: 0.8em;
  line-height: normal;

  margin-left: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
