.commentFooterLeftButton {
  background: #E0E0E0;
  color: black;
  border-radius: 2px;
  box-shadow: none;
  border: none;
  outline: 0px;
  margin-left: 0px;
  margin-right: 4px;
}

.commentFooterLeftButton:active {
  background-color: #BDBDBD;
  outline: 0px;
}

.commentFooterLeftButton:hover {
  background-color: #BDBDBD;
  outline: 0px;
}

.commentFooterLeftButton:focus {
  outline: 0px;
}

.commentFooterRightButton {
  background: #E0E0E0;
  color: black;
  border-radius: 2px;
  border: none;
  box-shadow: none;
  outline: 0px;
  margin-left: 4px;
  margin-right: -5px;
}


.commentFooterRightButton:active {
  background-color: #BDBDBD;
  outline: 0px;
}

.commentFooterRightButton:hover {
  background-color: #BDBDBD;
  outline: 0px;
}

.commentFooterRightButton:focus {
  outline: 0px;
}

.commentCommentButton {
  background: white;
  color: #2196F3;
  outline: 0px;
}

.commentCommentButton:disabled {
  background: white;
  color: #E0E0E0;
  outline: 0px;
}

.commentCommentButton:disabled:hover {
  background: white;
  color: #E0E0E0;
  outline: 0px;
}

.commentCommentButton:hover {
  background: #E0E0E0;
  outline: 0px;
}

.commentCommentButton:active {
  background: #BDBDBD;
  outline: 0px;
}

.commentCancelButton {
  background: white;
  color: #E57373;
  outline: 0px;
}

.commentCancelButton:hover {
  background: #E0E0E0;
  outline: 0px;
}

.commentCancelButton:active {
  background: #BDBDBD;
  outline: 0px;
}

.threadCard {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: 1px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 1px 1px rgba(82, 82, 82, 0.616))
}

.threadCard:hover {
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.74);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
}