.commentFooterLeftButton {
  background: #e0e0e0;
  color: black;
  border-radius: 2px;
  box-shadow: none;
  border: none;
  outline: 0px;
  margin-left: 0px;
  margin-right: 4px;
}

.commentFooterLeftButton:active {
  background-color: #bdbdbd;
  outline: 0px;
}

.commentFooterLeftButton:hover {
  background-color: #bdbdbd;
  outline: 0px;
}

.commentFooterLeftButton:focus {
  outline: 0px;
}

.commentFooterRightButton {
  background: #e0e0e0;
  color: black;
  border-radius: 2px;
  border: none;
  box-shadow: none;
  outline: 0px;
  margin-left: 4px;
  margin-right: -5px;
}

.commentFooterRightButton:active {
  background-color: #bdbdbd;
  outline: 0px;
}

.commentFooterRightButton:hover {
  background-color: #bdbdbd;
  outline: 0px;
}

.commentFooterRightButton:focus {
  outline: 0px;
}

.commentCommentButton {
  background: white;
  color: #2196f3;
  outline: 0px;
}

.commentCommentButton:disabled {
  background: white;
  color: #e0e0e0;
  outline: 0px;
}

.commentCommentButton:disabled:hover {
  background: white;
  color: #e0e0e0;
  outline: 0px;
}

.commentCommentButton:hover {
  background: #e0e0e0;
  outline: 0px;
}

.commentCommentButton:active {
  background: #bdbdbd;
  outline: 0px;
}

.commentResolveButton {
  background: white;
  color: #2196f3;
  outline: 0px;
}

.commentResolveButton:hover {
  background: #e0e0e0;
  outline: 0px;
}

.commentCancelButton {
  background: white;
  color: #e57373;
  outline: 0px;
}

.commentCancelButton:hover {
  background: #e0e0e0;
  outline: 0px;
}

.commentCancelButton:active {
  background: #bdbdbd;
  outline: 0px;
}

.headerOptionsCard {
  display: flex;
  flex-direction: column;
  padding: 1px;
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.headerCard {
  display: flex;
  flex-direction: column;
  padding: 1px;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.threadCard {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 1px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.threadCardDisabled {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 1px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.threadCard:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.219);
  border-color: #b6b6b6;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
}

.textFieldExpanded {
  display: flex;
  max-height: 100%;
  max-width: 350px;
  font-size: 0.8em;
  line-height: normal;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.textFieldNotExpanded {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 350px;
  max-height: 30px;

  font-size: 0.8em;
  line-height: normal;

  margin-left: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
