.jp-commenting-window {
  background: var(--jp-layout-color1);
  font-family: var(--jp-content-font-family);
  height: 100%;
}

/* Header Options*/
.jp-commenting-header-options-dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-size: var(--jp-content-font-size1);
  color: var(--jp-ui-font-color1);
  text-align: inherit;
  white-space: nowrap;
  background: var(--jp-layout-color1);
  border: 0;
}

.jp-commenting-header-options-dropdown-item.jp-mod-selected {
  background: var(--jp-brand-color1);
  color: var(--jp-ui-inverse-font-color0);
  text-decoration-line: none;
}

.jp-commenting-header-options-dropdown-item:hover:not(.jp-mod-selected) {
  background: var(--jp-layout-color2);
  color: var(--jp-ui-font-color1);
  text-decoration-line: none;
}

.jp-commenting-header-options-dropdown-menu {
  position: absolute;
  top: inherit;
  right: 0;
  left: auto;
  z-index: 1000;
  display: none;
  float: left;
  text-align: left;
  list-style: none;
  background-color: var(--jp-ui-inverse-font-color0);
  background-clip: padding-box;
  border: 1px solid var(--jp-input-border-color);
  border-radius: var(--jp-border-radius);
}

.jp-commenting-header-options-dropdown-menu.show {
  display: block;
}

.jp-commenting-header-options-area {
  display: flex;
  flex-direction: column;
  padding: 1px;
  border-top: 1px solid var(--jp-border-color1);
  box-sizing: border-box;
}

/* Buttons */
.jp-commenting-button-red {
  background: white;
  color: #e57373;
  font-size: var(--jp-content-font-size0);
  font-family: var(--jp-content-font-family);
  line-height: var(--jp-content-line-height);
  border-radius: var(--jp-border-radius);
  box-shadow: none;
  border: none;
  outline: 0px;
}

.jp-commenting-button-red:hover {
  background: #e0e0e0;
  outline: 0px;
}

.jp-commenting-button-red:active {
  background: #bdbdbd;
  outline: 0px;
}

.jp-commenting-button-red:focus {
  outline: 0px;
}

.jp-commenting-button-blue {
  background: white;
  color: #2196f3;
  outline: 0;
  font-size: var(--jp-content-font-size0);
  font-family: var(--jp-content-font-family);
  line-height: var(--jp-content-line-height);
  border-radius: var(--jp-border-radius);
  border: none;
  box-shadow: none;
}

.jp-commenting-button-blue:disabled {
  background: white;
  color: #e0e0e0;
  outline: 0;
}

.jp-commenting-button-blue:disabled:hover {
  background: white;
  color: #e0e0e0;
  outline: 0;
}

.jp-commenting-button-blue:hover {
  background: #e0e0e0;
  outline: 0;
}

.jp-commenting-button-blue:active {
  background: #bdbdbd;
  outline: 0;
}

.jp-commenting-button-blue:focus {
  outline: 0;
}

.jp-commenting-button-resolved {
  background: var(--jp-layout-color2);
}

/* Threads */
.jp-commenting-thread-area {
  display: flex;
  flex-direction: column;
  border-radius: var(--jp-border-radius);
  padding: 1px;
  border: 1px solid var(--jp-border-color1);
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-top: 4px;
}

.jp-commenting-thread-area:hover {
  box-shadow: var(--jp-elevation-z6);
}

.jp-commenting-thread-area-no-hover {
  display: flex;
  flex-direction: column;
  border-radius: var(--jp-border-radius);
  padding: 1px;
  border: 1px solid var(--jp-border-color1);
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* New Thread */
.jp-commenting-new-thread-area {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: var(--jp-border-radius);
  border: 1px solid var(--jp-border-color1);
  box-sizing: border-box;
}

.jp-commenting-new-thread-button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: var(--jp-border-radius);
  border: 1px solid var(--jp-border-color1);
  box-sizing: border-box;
}

.jp-commenting-new-thread-button:hover {
  box-shadow: var(--jp-elevation-z6);
}

.jp-commenting-new-thread-label {
  display: flex;
  flex-grow: 2;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
  color: var(--jp-ui-font-color1);
  text-overflow: ellipsis;
  margin-bottom: 0px;
  margin-left: 5px;
}

/* Text Area */
.jp-commenting-text-area {
  border-color: var(--jp-input-border-color);
  border-radius: var(--jp-border-radius);
  border-width: var(--jp-border-width);
  background-color: var(--jp-input-background);

  width: 100%;
  height: 100%;

  font-size: var(--jp-content-font-size0);
  line-height: normal;
  padding: 4px;
  resize: none;
}

.jp-commenting-text-area:hover {
  background-color: var(--jp-input-hover-background);
}

.jp-commenting-text-area:focus {
  background-color: var(--jp-input-active-background);
  border-color: var(--jp-input-active-border-color);
  box-shadow: var(--jp-input-box-shadow);
}